= simple_form_for(@boolean_setting) do |f|
  = f.error_notification

  .form-inputs
    = f.input :key, :readonly => true, :disabled => true
    = f.input :value

  .form-actions
    = f.button :submit
